<h5>Insert Data Component </h5>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">FIVR Analysis</a>
  </li>
</ul>

<router-outlet></router-outlet>
<a routerLink="/bodyComponent" routerLinkActive = "active" class="btn btn-primary" role="button">Exit</a>