
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataMBVRComponent" routerLinkActive = "active">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataFIVRComponent" routerLinkActive = "active">FIVR Analysis</a>
  </li>
</ul>

<p></p>

<h6>Insert FIVR Data Component </h6>

<canvas-comp> </canvas-comp>







