<div ng-init="load()"></div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">FIVR Analysis</a>
  </li>
</ul>

<h6>Insert BRD Data Component </h6>


<canvas style="border:1px solid grey;" id="my_canvas" width="300" height="300"></canvas>

<div></div>

<a routerLink="/bodyComponent" routerLinkActive = "active" class="btn btn-primary" role="button">Exit</a>
 