
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataMBVRComponent" routerLinkActive = "active">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataFIVRComponent" routerLinkActive = "active">FIVR Analysis</a>
  </li>
</ul>

<p></p>

<div class="container-fluid">
    <h6>Insert MBVR Data Component </h6>

  <form [formGroup]="rForm" (ngSubmit)= "insertMBVRAnalysis(rForm.value)">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Product Name</label>
    <select class="form-control" formControlName="productName">
      <option *ngFor = "let product of products" [value] = "product.productName"> {{product.productName}} </option>
    </select>
  </div>



  <button input type = "submit" class="btn btn-default" value="Submit Button" > Add MBVR Analysis </button>
  </form>

<p></p>

<a routerLink="/bodyComponent" routerLinkActive = "active" class="btn btn-primary" role="button">Exit</a>

</div>


