

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">FIVR Analysis</a>
  </li>
</ul>

<p></p>


<div class="container-fluid">
    <h6>Insert PKG Data Component </h6>

  <form [formGroup]="rForm" (ngSubmit)= "insertProduct(rForm.value)">

    <div class="form-group row">
      <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="productName" placeholder="">
      </div>
    </div>

     <div class="form-group row">
      <label for="productSKU" class="col-sm-2 col-form-label">Product SKU</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="productSKU" placeholder="">
      </div>
    </div> 

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-legend col-sm-2">Stackup Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              SVLC
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              x-2-x
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
              x-4-x
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
              POINT Interposer
            </label>
          </div>
        </div>
      </div>
    </fieldset>  

     <div class="form-group row">
      <label for="numberOfStackupLayers" class="col-sm-2 col-form-label">Number of Stackup Layers</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="numberOfStackupLayers" placeholder="">
      </div>
    </div>

     <div class="form-group row">
      <label for="socketType" class="col-sm-2 col-form-label">Socket Type</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="socketType" placeholder="">
      </div>
    </div>    
    
    <div class="form-group row">
      <div class="col-sm-2">Does it contain:</div>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> FIVR
            <div><input class="form-check-input" type="checkbox"> MCDRAM </div>
            <div><input class="form-check-input" type="checkbox"> Fabric </div>
            <div><input class="form-check-input" type="checkbox"> FPGA </div>
          </label>
        </div>
      </div>
    </div>

    
  <button input type = "submit" class="btn btn-default" value="Submit Button" > Add Product </button>
  </form>

<p></p>

<a routerLink="/bodyComponent" routerLinkActive = "active" class="btn btn-primary" role="button">Exit</a>

</div>

