<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataPkgComponent" routerLinkActive = "active" >Package</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/insertDataBrdComponent" routerLinkActive = "active">Motherboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">MBVR Analysis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/insertDataComponent">FIVR Analysis</a>
  </li>
</ul>

<h6>Insert BRD Data Component </h6>

<a routerLink="/bodyComponent" routerLinkActive = "active" class="btn btn-primary" role="button">Exit</a>

<!-- http://strd6.com/2011/09/html5-javascript-pasting-image-data-in-chrome/ -->

<br />
<div id="editor-box" class="target" contenteditable="true">
</div>